In [1]:
# naive bayes algorithm
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

ipl=pd.read_csv(r"C:\Users\HARI\OneDrive\Documents\IPL Ball-by-Ball 2008-2020.csv")
ipl
ipl.head(100)

    inning  over  ball  batsman_runs  total_runs
0        1     6     5             1           1
1        1     6     6             1           1
2        1     7     1             0           0
3        1     7     2             1           1
4        1     7     3             1           1
..     ...   ...   ...           ...         ...
95       1     2     4             4           4
96       1     2     5             1           1
97       1     2     6             0           0
98       1     3     1             0           5
99       1     3     2             6           6

[100 rows x 5 columns]

In [2]:
ipl.columns=['inning','over','ball','batsman_runs','total_runs']

col_names=list(ipl.columns)
col_names

['inning', 'over', 'ball', 'batsman_runs', 'total_runs']

In [3]:
X=col_names[0:4]
y=col_names[4]
print(X) 
print(y)

['inning', 'over', 'ball', 'batsman_runs']
total_runs

In [4]:

from sklearn.model_selection import train_test_split
train,test=train_test_split(ipl,test_size=0.20,random_state=1)

print('training input samples:',len(train))
print('testing input samples:',len(test))

training input samples: 154774
testing input samples: 38694

In [5]:
############# Naive Bayes ############

# Guassian Naive Bayes

from sklearn.naive_bayes import GaussianNB # importation
Gmodel=GaussianNB() # invocation

In [6]:
Gmodel.fit(train[X],train[y])

train_Gpred=Gmodel.predict(train[X]) # train[x]

test_Gpred=Gmodel.predict(test[X]) # test[x]

In [7]:
train_acc_gau=np.mean(train_Gpred==train[y])

test_acc_gau=np.mean(test_Gpred==test[y])

print('gaussian naive bayes - training accuracy:',train_acc_gau*100,'%')
print('gaussian nb - testing time accuracy:',test_acc_gau*100,'%')

gaussian naive bayes - training accuracy: 94.32592037422306 %
gaussian nb - testing time accuracy: 94.50302372460847 %